<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

<listener class-name = "mainModule.Listners"/>

</listeners>
<parameter name = "url" value = "bing.com"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="mainModule.ModuleE"/>
      <class name="mainModule.ModuleD"/>
      <class name="mainModule.ModuleB"/>
</classes>
</test>
<test name = "shah">
<parameter name = "abc" value = "xyz"/>
<classes>
      <class name="mainModule.ModuleA"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
